*{
    padding: 0;
    margin: 0;
}

.body{
    height: 150vh;
    width: 100%;
    font-family: 'Trebuchet MS';
    background: linear-gradient(150deg, rgba(143,69,241,1) 0%, rgba(4,7,56,1) 100%);
}

.navBar{
    color: white;
    background: rgb(43, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    font-family: 'Trebuchet MS';
    border-bottom: rgb(69, 235, 241) solid 2px;
}

h1{
    text-decoration: none;
    color: white;
    padding: 10px; 
}

.logo{
    margin-right: auto;
    color: white;
}

.brands{
    background-color: none;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.brand{
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}

.brand:hover{
    text-shadow: 0px 0px 5px white;
}

.cartImg{
    margin-right: 5px;
    width:50px;
    height:50px;
}

.cartImg:hover{
    filter: drop-shadow(0px 0px 5px white);
}

.catalog{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productCard{
    box-shadow: 0px 0px 10px 3px rgb(69, 235, 241);
    border-radius: 25px;
    background: rgb(43, 43, 43);
    width: 200px;
    height: 300px;
    text-align: center;
    margin: 20px 50px;
    color: white;
}

.productImg{
    margin: 15px 0px;
    border-radius: 25px;
    width: 175px;
    height: 175px;
}

.productBtn{
    margin: 5px 10px;
    padding: 5px;
    background: linear-gradient(150deg, rgb(28, 36, 179) 0%, rgba(143,69,241,1) 100%);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid rgb(69, 235, 241);
}

.productBtn:hover{
    background: linear-gradient(150deg, rgba(143,69,241,1) 0%, rgb(12, 211, 201) 100%);
}

.homeImg{
    margin-right: 5px;
    width: 45px;
    height:45px;
}

.homeImg:hover{
    filter: drop-shadow(0px 0px 5px rgb(69, 235, 241));
}

.productsDetail{
    padding: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.productImgDetail{
    margin: 20px;
    border-radius: 25px;
    width: 30%;
    min-width: 200px;
    height: auto;
    filter: drop-shadow(0px 0px 20px rgb(69, 235, 241));
}

.details{
    color: white;
    font-size: 30px;
}

.shopBtn {
    text-decoration: none;
    margin: 5px 0px;
    padding: 5px;
    background: linear-gradient(150deg, rgb(0, 171, 201) 0%, rgb(22, 53, 153) 100%);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid rgb(69, 235, 241);
}

.cartNav{
    display: flex;
    justify-content: center;
    color: rgb(69, 235, 241);
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    visibility: visible;
    transition: all .5s ease-out;
    margin-right: 20px ;
}

.cartHidden{
    opacity: 0;
    visibility: hidden;
}

.cartProduct{
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}

h3{
    color: rgb(69, 235, 241);
}

.productBtnClean{
    margin: 5px 10px;
    padding: 5px;
    background: linear-gradient(150deg, rgb(39, 165, 197) 0%, rgb(55, 182, 214) 100%);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid rgb(69, 235, 241);
}

.productBtnBuy{
    margin: 5px 5px;
    padding: 5px;
    background: linear-gradient(150deg, rgb(28, 36, 179) 0%, rgba(143,69,241,1) 100%);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 15px;
    font-weight: 700;
    border-radius: 25px;
    border: 2px solid rgb(69, 235, 241);
}

.detailCart{
    padding: 0px 30px;
}

.formInput{
    margin: 10px 10px;
    padding: 5px;
    background: linear-gradient(150deg, rgb(28, 36, 179) 0%, rgba(143,69,241,1) 100%);
    color: white;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid rgb(69, 235, 241);
}
